#body {
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    height:100%;
    width:100%;
}
body{
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

input[type="file"], input[type="text"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}

#elementsContainer, #guideContainer {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

#elementsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.element, .guide-step {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden; /* Ensure content doesn't overflow the container */
}

.element div, .guide-step p {
    margin: 0;
    padding: 10px; /* Adjust padding to ensure content fits well */
    text-align: center;
    word-wrap: break-word; /* Break long words */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    white-space: normal; /* Allow text to wrap to new lines */
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

