body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

input[type="file"], input[type="text"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}

#elementsContainer, #guideContainer {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

#elementsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.element, .guide-step {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.element div, .guide-step p {
    margin: 0;
    padding: 0;
}

.guide-step {
    width: 100%;
}

.guide-step p {
    width: 100%;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
